---
import Layout from "../../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
const pageTitle = "Aquaresist Website Devlopement";
---

<Layout pageTitle={pageTitle}>
    <section class="px-6 py-20 md:px-14 lg:px-24 max-w-4xl mx-auto">
        <div class="mt-20">
            <a href="/">
                <div
                    class="w-10 flex items-center hover:scale-[0.90] transition-all duration-500 group justify-center h-10 bg-[var(--link-bg)] rounded-full"
                >
                    <Icon
                        class="text-[var(--heading_1_color)] group-hover:scale-[0.90] transition-all duration-500"
                        size={20}
                        name="back"
                    />
                </div>
            </a>
            <div class="mt-10">
                <h1
                    class="uppercase text-[var(--heading_1_color)] text-2xl lg:text-6xl"
                >
                    Aquaresist
                </h1>
                <h3 class="text-[var(--text-color)] my-4">October 2025</h3>
                <p class="text-[var(--text-color)]">
                    Link to the website: <a
                        class="underline"
                        href="https://www.aquaresist.org"
                        target="_blank"
                        rel="noopener noreferrer">Aquaresist</a
                    >
                </p>
            </div>
        </div>
    </section>
</Layout>
