---
import Layout from "../../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
const pageTitle = "Busayo Omidiji Website Devlopement";
---

<Layout pageTitle={pageTitle}>
    <section class="px-6 py-20 md:px-14 lg:px-24 max-w-4xl mx-auto">
        <div class="mt-20">
            <a href="/">
                <Icon
                    class="text-[var(--heading_1_color)]"
                    size={20}
                    name="back"
                />
            </a>
            <div class="mt-10">
                <h1
                    class="uppercase text-[var(--heading_1_color)] text-2xl lg:text-6xl"
                >
                    Busayo's Portfolio
                </h1>
                <h3 class="text-[var(--text-color)] my-4">WIP</h3>
                <!-- <p class="text-[var(--text-color)]" aria-disabled="true">
                    Link to the website: <a
                        class="underline"
                        href=""
                        target="_blank"
                        rel="noopener noreferrer">Busayo Omidiji's Portfolio</a
                    >
                </p> -->
            </div>
        </div>
    </section>
</Layout>
