@import "tailwindcss";

[data-theme="dark"] {
    --sun: block;
    --moon: none;
    --mode-color: #ffffff;
    --background-color: #000000;
    --text-color: #f3f1f1cd;
    --link-bg: rgba(255, 255, 255, 0.1);
    --link-hover: rgba(255, 255, 255, 0.15);
    --heading_1_color: #ffffff;
}

[data-theme="light"] {
    --sun: none;
    --moon: block;
    --heading_1_color: #000000;
    --background-color: #ffffff;
    --text-color: #333;
    --link-bg: rgba(0, 0, 0, 0.05);
    --link-hover: rgba(0, 0, 0, 0.1);
    --mode-color: #000000;
}

/* global.css or wherever your base styles live */
.container {
    width: 100%;
    margin: 0 auto;
}

/* Tailwind’s breakpoints: sm = 640px, md = 768px, lg = 1024px */
@media (min-width: 640px) {
    .container {
        width: calc(100% - 48px);
    }
}

@media (min-width: 768px) {
    .container {
        width: calc(100% - 96px);
    }
}

@media (min-width: 1024px) {
    .container {
        width: calc(100% - 144px);
    }
}

.under::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: white;
    left: 0;
    bottom: -2px;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: bottom right;
    transform-origin: bottom right;
    -webkit-transition: -webkit-transform 0.25s ease-out;
    transition: -webkit-transform 0.25s ease-out;
    transition: transform 0.25s ease-out;
    transition:
        transform 0.25s ease-out,
        -webkit-transform 0.25s ease-out;
}

.under:hover::before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    width: 100%;
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
}
