@import "tailwindcss";

[data-theme="dark"] {
    --sun: block;
    --moon: none;
    --mode-color: #eee;
    --background-color: #121212;
    --text-color: #cbc3b9;
    --heading_1_color: #faead6;
}

[data-theme="light"] {
    --sun: none;
    --moon: block;
    --heading_1_color: #121112;
    --text-color: #333;
    --mode-color: #121212;
}
