---
import About from "../components/About.astro";
import Projects from "../components/Projects.astro";
import Tools from "../components/Tools.astro";
import Uses from "../components/Uses.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
const pageTitle = "Alex Oyebamiji | Frontend Developer";
---

<Layout pageTitle={pageTitle}>
    <main>
        <About />
        <Projects />
        <Tools />
        <Uses />
        <Footer />
    </main>
</Layout>
