---
import "../styles/global.css";
import Navbar from "../components/Navbar";
import About from "../components/About.astro";
import Projects from "../components/Projects.astro";
import GetInTouch from "../components/GetInTouch.astro";
import Uses from "../components/Uses.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <main>
        <Navbar client:visible />
        <About />
        <Projects />
        <Uses />
        <GetInTouch />
        <Footer />
    </main>
</Layout>
