<header class="sm:border-x border-dashed border-[#36383B] container">
    <section class="px-6 py-20 md:px-14 lg:px-24 max-w-4xl mx-auto">
        <div class="mt-20">
            <h1
                class="[color:var(--heading_1_color)] mb-4 font-medium text-2xl font-serif"
            >
                Hi there, I'm Alex
            </h1>
            <p
                class="[color:var(--text-color)] text-base font-serif leading-7 mb-4"
            >
                A Developer who enjoys creating attractive and easy-to-use
                websites, while also exploring Linux and infrastructure to
                broaden my technical skills.
            </p>
            <div class="flex gap-6 items-center">
                <a
                    class="[color:var(--text-color)] font-mono"
                    href="https://github.com/Lex043"
                    target="_blank"
                    rel="noopener noreferrer">Github</a
                >
                <a
                    class="[color:var(--text-color)] font-mono"
                    href="https://x.com/Lex_Feranmi"
                    target="_blank"
                    rel="noopener noreferrer">X(Twitter)</a
                >
            </div>
        </div>
    </section>
</header>
