<section>
    <div class="border-t border-dashed border-[#36383B]">
        <div class="sm:border-x border-dashed border-[#36383B] container">
            <div
                class="flex justify-between items-center max-w-4xl mx-auto px-6 py-10 md:px-14 lg:px-24"
            >
                <p class="[color:var(--heading_1_color)] text-sm">
                    &copy; Lex {new Date().getFullYear()}
                </p>
                <a
                    class="[color:var(--heading_1_color)] text-sm"
                    href="http://"
                    target="_blank"
                    rel="noopener noreferrer">Source</a
                >
            </div>
        </div>
    </div>
</section>
