<div
    class="flex justify-between items-center max-w-4xl mx-auto px-6 py-10 md:px-14 lg:px-24"
>
    <p class="text-[var(--heading_1_color)] text-sm">
        &copy; Lex {new Date().getFullYear()}
    </p>
    <a
        class="text-[var(--heading_1_color)] text-sm"
        href="https://github.com/Lex043/v1-portfolio"
        target="_blank"
        rel="noopener noreferrer">Source</a
    >
</div>
