---
const skills = [
    {
        id: 1,
        skill: "Typescript",
    },
    {
        id: 2,
        skill: "React.js",
    },
    {
        id: 3,
        skill: "Next.js",
    },
    {
        id: 4,
        skill: "Astro",
    },
    {
        id: 5,
        skill: "Node.js & Express.js",
    },
    {
        id: 6,
        skill: "PostgreSQL",
    },
];
---

<section class="px-6 py-10 md:px-14 lg:px-24 max-w-4xl mx-auto">
    <h1
        class="text-[var(--heading_1_color)] font-medium text-2xl lg:text-4xl font-serif"
    >
        Tools & Skills
    </h1>
    <div class="mt-4">
        <h1 class="text-[var(--text-color)] font-medium text-xl font-serif">
            Languages & Frameworks
        </h1>
        <div class="flex mt-8 gap-6 items-center flex-wrap font-mono">
            {
                skills.map((skill) => (
                    <h1 class="text-[var(--text-color)] text-sm h-8 px-4 bg-[var(--link-bg)] transition-colors duration-200 hover:bg-[var(--link-hover)] rounded-full leading-0 flex items-center gap-1.5">
                        {skill.skill}
                    </h1>
                ))
            }
        </div>
    </div>
</section>
